.link-with-arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  @include respond(phone) {
    line-height: 1.2;
  }

  &:hover > .link-with-arrow__text {
    padding-bottom: 24px;
  }

  &__text {
    transition: all .3s ease-in-out;
  }

  & > :last-child {
    margin-left: clamp(12px, 3vw, 24px);
  }
}