.social {
  position: fixed;
  top: 248px;
  right: 14px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include respond(phone) {
    top: auto;
    bottom: 56px;
  }

  svg {
    fill: #f8f8f8;
    fill-opacity: 0.8;
    transition: fill-opacity 0.2s ease-in-out;

    &:hover {
      fill-opacity: 1;
    }
  }
}
