@mixin floating {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(calc(-50% - 16px));
  content: ' ';
}

#about {
  @include respond(tab-port) {
    border-right: 4px solid $accentColor;
  }
  
  display: flex;
  position: relative;

  .about-timeline {
    @include respond(tab-port) {
      display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    height: 118vh;
    padding: 0 32px;
    margin-left: 104px;
    background-color: rgba($color: #202022, $alpha: 0.3);
    border-right: 4px solid $accentColor;

    &__item {
      position: relative;
      max-width: 348px;
      text-align: right;
      margin-top: 80px;
      padding-bottom: 32px;
      border-bottom: 1px solid $tertiaryBackColor;
      font-size: 24px;
      font-weight: 300;
      color: $secondaryTextColor;

      &:last-child {
        border-bottom: none;
        margin-bottom: 48px;
      }

      &::after {
        display: inline-block;
        height: 24px;
        width: 24px;
        border: 4px solid $accentColor;
        background: #2e2e31;
        margin-left: 22px;
        @include floating();
      }
    }

    &__year {
      @include floating();
      margin-left: 72px;
    }
  }

  .about-info {
    margin-top: clamp(40px, 5vw, 80px);
    max-width: 720px;
    width: 48vw;
    @include respond(tab-port) {
      width: 90vw;
    }
  }

  .about-skills {
    margin-top: clamp(40px, 5vw, 80px);

    &__items {
      display: flex;
      flex-direction: column;

      & > * + * {
        margin-top: clamp(24px, 5vw, 40px);
      }

      &-row {
        display: flex;

        & > * + * {
          margin-left: clamp(16px, 5vw, 40px);
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-text {
        font-size: clamp(14px, 3vw, 18px);
        margin-top: 8px;
      }

      &-img {
        width: clamp(32px, 5vw, 64px);
        height: clamp(32px, 5vw, 55px);
      }
    }
  }
}
