@mixin floating {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(calc(-50% - 16px));
  content: ' ';
}

#about {
  display: flex;
  position: relative;

  .about-timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 44px;
    height: 118vh;
    padding: 0 32px;
    margin-left: 104px;
    background-color: rgba($color: #202022, $alpha: 0.3);
    border-right: 4px solid $accentColor;

    &__item {
      position: relative;
      max-width: 348px;
      text-align: right;
      margin-top: 80px;
      padding-bottom: 32px;
      border-bottom: 1px solid $tertiaryBackColor;
      font-size: 24px;
      font-weight: 300;
      color: $secondaryTextColor;

      &:last-child {
        border-bottom: none;
        margin-bottom: 48px;
      }

      &::after {
        display: inline-block;
        height: 24px;
        width: 24px;
        border: 4px solid $accentColor;
        background: #2e2e31;
        margin-left: 22px;
        @include floating();
      }
    }

    &__year {
      @include floating();
      margin-left: 72px;
    }
  }

  .about-info {
    margin-top: 80px;
    max-width: 720px;
  }

  .about-skills {
    margin-top: 80px;

    &__items {
      display: flex;
      flex-direction: column;

      & > * + * {
        margin-top: 40px;
      }

      &-row {
        display: flex;

        & > * + * {
          margin-left: 24px;
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-text {
        font-size: 18px;
        margin-top: 8px;
      }
    }
  }
}
