#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid $accentColor;

  .contact-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0 108px;
    width: 100%;
  }

  .contact-wrapper__text-container {
    position: relative;
    & .blob {
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .contact-wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
    font-size: 80px;
    font-weight: 300;

    & > * + * {
      margin-top: 40px;
    }
  }

  .contact-wrapper__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 416px;

    & > * + * {
      margin-top: 32px;
    }

    .submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 56px;
      max-height: 82px;
    }

    textarea {
      width: 100%;
      &::-webkit-resizer {
        display: none;
      }
    }

    .textarea-wrapper {
      position: relative;
      &::after {
        content: ' ';
        position: absolute;
        bottom: 14px;
        right: 4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 8px 8px;
        border-color: transparent transparent $secondaryTextColor transparent;
      }
    }
  }

  .contacts-left-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 68vh;
    background: linear-gradient(to bottom, rgba($color: $accentColor, $alpha: 0), $accentColor);
  }
}
