#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .hero-img-wrapper {
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: clamp(510px, 75vw, 780px);
    max-height: 100vh;
    transform: translate(-50%);

    & img {
      filter: drop-shadow(-25px 0 25px rgba($color: $primaryBackColor, $alpha: 0.6));
      object-fit: contain !important;
      left: 12px !important;
    }
  }

  .hero-img-back {
    position: relative;
    top: -32px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background: linear-gradient(to top, rgba($color: $accentColor, $alpha: 0), $accentColor);
  }

  .hero-img {
    width: 20px;
    position: static !important;
  }

  .hero-watermark {
    position: absolute !important;
    opacity: 0.01;
    font-weight: 600;
    font-size: clamp(100px, 15vw, 214px);
    text-transform: uppercase;
    white-space: nowrap;
    transform: translate(calc((90vw - 100%) / 2));
  }

  .hero-top {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(16px, 3vw, 24px);
    z-index: 1;
  }

  .hero-logo {
    border-left: 1px solid $tertiaryBackColor;
    padding-left: clamp(16px, 3vw, 24px);
  }

  .hero-nav {
    display: flex;
    text-transform: uppercase;
    border-right: 1px solid $tertiaryBackColor;
    padding-right: clamp(16px, 3vw, 24px);

    & a {
      font-size: clamp(12px, 3vw, 16px);
      font-weight: 300;
      transition: none;
      &:hover {
        font-weight: 400;
      }
    }

    & > li + li {
      margin-left: clamp(16px, 3vw, 24px);
    }
  }

  .hero-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: clamp(24px, 2vw, 64px);
    z-index: 1;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $tertiaryBackColor;
    padding-left: clamp(16px, 3vw, 24px);
  }

  .hero-titles-list {
    display: flex;
    margin-top: 16px;
    font-weight: 300;
    font-size: clamp(18px, 3vw, 24px);

    & > li + li {
      &::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: clamp(4px, 1vw, 8px);
        height: clamp(4px, 1vw, 8px);
        margin: 0 clamp(8px, 2vw, 16px);
        background-color: $tertiaryBackColor;
        border-radius: 50%;
      }
    }
  }

  .hero-name {
    font-size: clamp(24px, 5vw, 36px);
  }

  .see-work {
    @include respond(tab-port) {
      display: none;
    }
  }

  .hero-bottom-line {
    height: 4px;
    background: linear-gradient(to right, rgba($color: $accentColor, $alpha: 0), $accentColor);
  }
}
