#projects {
  min-height: auto;

  @include respond(tab-port) {
    margin-top: 0;
  }

  .project-wrapper {
    display: block;
  }

  .project-wrapper:nth-of-type(2n + 1) {
    border-top: 4px solid $accentColor;
    border-bottom: 4px solid $accentColor;
    border-left: 4px solid $accentColor;
  }

  .project-wrapper:nth-of-type(2n) {
    border-right: 4px solid $accentColor;
  }

  .project {
    position: relative;
  }

  .project-image {
    filter: saturate(0);
    transition: filter 0.2s ease-in;
  }

  .project-over {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px;
    padding: clamp(8px, 3vw, 24px);
    color: $primaryTextColor;

    & svg {
      width: 24px;
      width: clamp(18px, 3vw, 24px);
    }
  }

  .project-info-overlay {
    height: 50%;
    background: linear-gradient(to bottom, transparent, $primaryBackColor);
  }

  .project-wrapper:last-child .project-info-overlay {
    opacity: 1;
  }

  .project:hover .project-info {
    opacity: 1;
  }

  .project:hover .project-info-overlay {
    opacity: 1;
  }

  .project:hover .project-image {
    filter: saturate(1);
  }

  .project-title {
    font-size: 32px;
    font-size: clamp(18px, 5vw, 32px);
    margin-bottom: 12px;
    margin-bottom: clamp(6px, 1vw, 12px);
    font-weight: 400;
  }

  .project-description {
    font-size: 24px;
    font-size: clamp(13px, 2vw, 24px);
    font-weight: 300;
  }
}
