#projects {
  margin-top: 80px;

  @include respond(tab-port) {
    margin-top: 0;
  }

  .projects-title {
    @include respond(tab-port) {
      border-right: 4px solid $accentColor;
    }
  }

  .project-wrapper {
    display: block;
  }

  .project-wrapper:nth-child(2n) {
    border-top: 4px solid $accentColor;
    border-bottom: 4px solid $accentColor;
    border-left: 4px solid $accentColor;
  }

  .project-wrapper:nth-child(3n) {
    border-right: 4px solid $accentColor;
  }

  .project {
    position: relative;
  }

  .project-image {
    filter: saturate(0);
    transition: filter 0.2s ease-in;
  }

  .project-over {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: clamp(8px, 3vw, 24px);
    color: $primaryTextColor;
  }

  .project-info-overlay {
    height: 50%;
    background: linear-gradient(to bottom, transparent, $primaryBackColor);
  }

  .project-wrapper:last-child .project-info-overlay {
    opacity: 1;
  }

  .project:hover .project-info {
    opacity: 1;
  }

  .project:hover .project-info-overlay {
    opacity: 1;
  }

  .project:hover .project-image {
    filter: saturate(1);
  }

  .project-title {
    font-size: clamp(18px, 5vw, 32px);
    margin-bottom: clamp(4px, 1vw, 12px);
  }

  .project-description {
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 300;
  }
}
