// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$accentColor: #6350E0;

$primaryTextColor: #F8F8F8;
$secondaryTextColor: #EFEFEF;

$primaryBackColor: #17171A;
$tertiaryBackColor: #6F706E;

// FONT SIZE
$default-font-size: 24px;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
