// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$accentColor: #6350E0;

$primaryTextColor: #F8F8F8;

$primaryBackColor: #17171A;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 24px;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
