* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $primaryBackColor;
  color: $primaryTextColor;
}

input,
textarea {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $primaryTextColor;
  color: $primaryTextColor;
  padding: 8px;
  font-weight: 300;
  font-size: 24px;

  &:focus {
    outline: 1px solid $accentColor;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 44px;
}
