@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p,
a, input, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(18px, 3vw, 24px);
}

p {
  margin-bottom: 12px;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  padding-bottom: clamp(32px, 5vw, 48px);
  font-size: clamp(24px, 5vw, 32px);
}

.text-color-main {
  &:hover {
    transform: translateX(2px);
  }
}
